.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: #e2e2e2;  
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @extend .btn;
    background-color: $val;
    &:hover {
      background-color: lighten($val, 5);
    }
  }

  .btn-outlined-#{$key} {
    @extend .btn;
    background-color: transparent;
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }

  .btn-complement-#{$key} {
    @extend .btn;
    background-color: $val;
    color: light-comp($val);

    &:hover {
      background-color: light-comp($val);
      color: $val;
    }
  }
}